<div>
    <div data-th-if="${submitResponse}" data-th-id="${freeformContentId}" data-th-utext="${submitResponse}"/>
    <th-block data-th-unless="${submitResponse}" data-th-fragment="freeform" data-th-utext="${freeformHtml}"/>
</div>