<div data-th-fragment="reportTable" class="freeform-report">
  <table class="pure-table pure-table-striped" data-th-if="${keys}">
    <thead>
      <tr>
        <th data-th-each="key, iterStatKeys : ${keys}" data-th-text="${key}"/>
      </tr>
    </thead>
    <tbody>
    <!--Iterate the form entries-->
      <tr data-th-id="|row-${value.key}|" data-th-each="value, iterStatValue : ${values}">
        <!--Iterate the form inputs-->
        <td data-th-each="val, iterStatVal  : ${value['values']}">
          <a class="trashEntry" data-th-if="${iterStatVal.index == 0}" onclick="freeformListenToDeleteEvents(event)" data-th-attr="data-key=${value.key},data-deleteServiceUrl=|${deleteEntryServiceUrl}?keyToDelete=${value.key}|" href="#" >
            <img class="trashSvg" data-th-src="${trashSvg}"/>
          </a>
          <th-block data-th-switch="${val.key}">
            <th-block data-th-if="${val.value!=''}" data-th-case="freeformEmail" data-th-include="/site/fragments/openxp/reports.html :: popup(${val.value},${iterStatValue})"/>
            <th-block data-th-if="${val.value!=''}" data-th-case="*" data-th-text="${val.value}"/>
          </th-block>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div data-th-fragment="popup(message, iterStatValue)">
  <a class="button" data-th-href="|#popup${iterStatValue.index}|">Show text</a>
  <div data-th-id="|popup${iterStatValue.index}|" class="overlay">
  	<div class="popup">
  		<a class="close" href="#">&times;</a>
  		<div class="content" data-th-utext="${message}">
  			You can close this window.
  		</div>
  	</div>
  </div>
</div>

<th-block data-th-fragment="reportCSV" data-th-if="${not #strings.isEmpty(csvText)}">
    <p><a href="#" id="copyCsv2Clipboard" onClick="copyCsv2Clipboard()">Copy CSV to clipboard</a></p>
    <textarea readonly="true" class="hide" type="text" id="csvText" data-th-text="${csvText}">
    </textarea>
</th-block>
