div.xp-freeformwidget  h1 {font-size:1.5em; }
div.xp-freeformwidget  h2 {font-size:1.2em; }
div.xp-freeformwidget  h3 {font-size:1em; }
div.xp-freeformwidget  h4 {font-size:0.8em; }
div.xp-freeformwidget  h5 {font-size:0.6em; }

div.xp-freeformwidget .trashEntry {
    padding:1px;
    text-decoration: none;
}

div.xp-freeformwidget .trashSvg {
    width: 16px;
}

div.xp-freeformwidget   {
    padding:3px;
}

div.xp-freeformwidget  * {
    font-family: Consolas, monaco, monospace;
}

div.xp-freeformwidget .introText{
    margin: 20px 0;
}

div.xp-freeformwidget p{
    font-size:0.8em;
}

div.xp-freeformwidget .center{
    text-align: center;
}

div.xp-freeformwidget #csvText{
    margin-top:20px;
    font-size: 1em;
    width: 250px;
    min-height: 100px;
    max-height:400px;
}

div.xp-freeformwidget .freeform-report table{
    overflow-x:scroll;
    white-space:nowrap;
    /*max-width:250px;*/
    display: block;
    margin-top:20px;
    margin-bottom:20px;
}

/*table*/
div.xp-freeformwidget .freeform-report .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

div.xp-freeformwidget .freeform-report .pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

div.xp-freeformwidget .freeform-report .pure-table td,
div.xp-freeformwidget .freeform-report .pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
div.xp-freeformwidget .freeform-report .pure-table td:first-child,
div.xp-freeformwidget .freeform-report .pure-table th:first-child {
    border-left-width: 0;
}

div.xp-freeformwidget .freeform-report .pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
div.xp-freeformwidget .freeform-report .pure-table td {
    background-color: transparent;
}
div.xp-freeformwidget .freeform-report .pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
div.xp-freeformwidget .freeform-report .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
div.xp-freeformwidget .freeform-report .pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
div.xp-freeformwidget .freeform-report .pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

div.xp-freeformwidget .freeform-report .pure-table-horizontal td,
div.xp-freeformwidget .freeform-report .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
div.xp-freeformwidget .freeform-report .pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}



/* CSS POPUP */
div.xp-freeformwidget .freeform-report .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index:99999;
}
div.xp-freeformwidget .freeform-report .overlay:target {
    visibility: visible;
    opacity: 1;
}

div.xp-freeformwidget .freeform-report .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

div.xp-freeformwidget .freeform-report .popup .close {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 200ms;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
div.xp-freeformwidget .freeform-report .popup .close:hover {
    color: #06D85F;
}
div.xp-freeformwidget .freeform-report .popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    div.xp-freeformwidget .freeform-report   .box{
        width: 70%;
    }
    div.xp-freeformwidget .freeform-report   .popup{
        width: 70%;
    }
}

div.xp-freeformwidget .removeditem {
    animation: removed-item-animation 0.2s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}
@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }

    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}

div.xp-freeformwidget .errorshake {
    -webkit-animation: kf_shake 0.4s 1 linear;
    -moz-animation: kf_shake 0.4s 1 linear;
    -o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
    0% { -webkit-transform: translate(30px); }
    20% { -webkit-transform: translate(-30px); }
    40% { -webkit-transform: translate(15px); }
    60% { -webkit-transform: translate(-15px); }
    80% { -webkit-transform: translate(8px); }
    100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
    0% { -moz-transform: translate(30px); }
    20% { -moz-transform: translate(-30px); }
    40% { -moz-transform: translate(15px); }
    60% { -moz-transform: translate(-15px); }
    80% { -moz-transform: translate(8px); }
    100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
    0% { -o-transform: translate(30px); }
    20% { -o-transform: translate(-30px); }
    40% { -o-transform: translate(15px); }
    60% { -o-transform: translate(-15px); }
    80% { -o-transform: translate(8px); }
    100% { -o-origin-transform: translate(0px); }
}