<widget>
    <div>
        <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=dist/freeformwidget.min.css'})}"
              type="text/css" media="all"/>
        <style data-th-if="${css}" data-th-text="${css}"></style>
        <div data-th-id="'xpfreeformwidgetid_' + ${uid}" class="xp-freeformwidget">
            <h1 data-th-text="${heading}"/>
            <h2 data-th-if="${message}" data-th-text="${message}"/>

            <p class="introText"><i>Note:</i> All freeform data is stored in the <i>freeform</i> node repository. You may also use the
                <a target="_blank" href="https://market.enonic.com/vendors/glenn-ricaud/data-toolbox">Data Toolbox</a> or
                <a target="_blank" href="https://market.enonic.com/vendors/runar-myklebust/repoxplorer">Repo Explorer</a>
                applications to browse data.
            </p>

            <div data-th-if="${keys and values}" class="freeform-report">
                <p>If you cannot see all data...</p>
                <p class="center"><-- drag widget OR scroll table --></p>
                <th-block data-th-include="/site/fragments/openxp/reports.html::reportTable"/>
                <h3>Below is form data in CSV format</h3>
                <th-block data-th-include="/site/fragments/openxp/reports.html::reportCSV"/>
            </div>
        </div>
    </div>
</widget>
<script data-th-src="${portal.assetUrl({'_path=dist/freeformwidget.min.js'})}"></script>