.freeform-form .hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
.freeform-form input[type="email"],
.freeform-form input[type="number"],
.freeform-form input[type="search"],
.freeform-form input[type="text"],
.freeform-form input[type="tel"],
.freeform-form input[type="url"],
.freeform-form input[type="password"],
.freeform-form textarea,
.freeform-form select {
  height: 38px;
  padding: 6px 10px;
  margin-bottom:5px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }


.freeform-form input[type="email"],
.freeform-form input[type="number"],
.freeform-form input[type="search"],
.freeform-form input[type="text"],
.freeform-form input[type="tel"],
.freeform-form input[type="url"],
.freeform-form input[type="password"],
.freeform-form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
.freeform-form textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
.freeform-form input[type="email"]:focus,
.freeform-form input[type="number"]:focus,
.freeform-form input[type="search"]:focus,
.freeform-form input[type="text"]:focus,
.freeform-form input[type="tel"]:focus,
.freeform-form input[type="url"]:focus,
.freeform-form input[type="password"]:focus,
.freeform-form textarea:focus,
.freeform-form select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
.freeform-form legend,
.freeform-form button {
  display: block;
  margin-bottom: .5rem;  }
.freeform-form input:not([type='radio']) {
  display: block;
  margin-bottom: .5rem;  }
.freeform-form fieldset {
  margin-top:15px;
  padding: 0;
  border-width: 0; }
.freeform-form input[type="checkbox"],
.freeform-form input[type="radio"] {
  display: inline;
  margin:10px;}
.freeform-form label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
.freeform-form input[type="submit"]{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 3px;
}
@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}

.submitReponseTarget {
    animation-name: yellowfade;
    animation-duration: 4s;
}